<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ColorSensor">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- Main Activity with SplashScreen theme -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Landing Activity -->
        <activity
            android:name=".LandingActivity"
            android:exported="true"
            android:theme="@style/Theme.ColorSensor" />

        <!-- Login Screen -->
        <activity
            android:name=".LoginScreen"
            android:exported="true"
            android:theme="@style/Theme.ColorSensor" />

        <!-- Home Activity -->
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.ColorSensor" />

        <!-- Register Activity -->
        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:theme="@style/Theme.ColorSensor" />

        <!-- Profile Activity -->
        <activity
            android:name=".ProfileActivity"
            android:exported="true"
            android:theme="@style/Theme.ColorSensor" />

        <!-- Photo Activity -->
        <activity
            android:name=".PhotoActivity"
            android:exported="true"
            android:theme="@style/Theme.ColorSensor" />

        <!-- Find Color Activity -->
        <activity
            android:name=".FindColorActivity"
            android:exported="true"
            android:theme="@style/Theme.ColorSensor" />

        <!-- Popular Color -->
        <activity
            android:name=".PopularColor"
            android:exported="true"
            android:theme="@style/Theme.ColorSensor" />

        <!-- Paint Info -->
        <activity android:name=".PaintInfoActivity" />


    </application>
</manifest>
